article {
  margin-top: 32px;
  h1 {
    margin-bottom: 16px;
  }
  
  ul.post-archive-list {
    margin: 0px;
    padding: 0px;
    li {
      display: inline; 
      list-style-position: outside;
    }
    
  }  
}