<% content_for :html_title do -%><%= @post.html_title.blank? ? @post.title : @post.html_title %><% end -%>
<div class="row">  
  <article>
    <h3><%= @post.title %></h3>
    <section>
      <%= render partial: "full_post", locals: {post: @post} %>    
    </section>
  </article>        
</div>
